<a href="https://colab.research.google.com/github/diya987/learn.py/blob/main/TASK_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a dictionary that contains 
            name = Alex Ryder
            age  = 28
Update the age to 32 and another element to the dictionary
            age = 32
            town = calicut
Expected output
            {'name': 'Alex Ryder', 'age': 32, 'town': 'calicut'}

In [2]:
#please enter your answer below this line
bio=['name','age','town']
status =['Alex Ryder','32','calicut']
data=dict(zip(bio,status))
print(data)

{'name': 'Alex Ryder', 'age': '32', 'town': 'calicut'}

2. Create a dictionary containing the squares of numbers from 1 to 5.
Expected output
            {1: 1, 2: 4, 3: 9, 4: 16, 5: 15}

From this dictionary remove the item 3 and its square.

Expected output
                    
                {1: 1, 2: 4, 4: 16, 5: 15}

Now remove all items from the dictionary.

Expected output

      {}

Now delete the dictionary itself.

In [1]:
#please enter your answer below this line
num=['1','2','3','4','5']
square=['1','4','9','16','25']
comb=dict(zip(num,square))
print(comb)
del comb['3']
print(comb)
comb.clear()
print('comb =', comb)

{'1': '1', '2': '4', '3': '9', '4': '16', '5': '25'}
{'1': '1', '2': '4', '4': '16', '5': '25'}
comb = {}

3. Make a set containing the elements 1, hello, (0,1,2).

Expected output
            
            {'hello', 1, (0, 1, 2)}

Now add the value 6 to the set.

Expected output

        {'hello', 1, (0, 1, 2), 6}

In [3]:
#please enter your answer below the line
set={1:{'hello',1,(0,1,2)}}
print(set[1])
set[2]={'hello',1,(0,1,2),6}
print( set[2])

{'hello', 1, (0, 1, 2)}
{'hello', 1, (0, 1, 2), 6}